@page "/class/createClass"
@using School.Blazor.DTO;
@inject Data.ClassesService _classService;
@inject NavigationManager navManager

<h3>Cadastrar Turma</h3>

<Form ButtonText="Criar" turma="@turma" OnValidSubmit="@CreateClass"></Form>

@code {
    ClassDTO turma = new ClassDTO()
        {
            CourseId = 0,
            Class = "",
            Year = DateTime.Now.Year,
            Active = true
        };

    async Task CreateClass()
    {
        try
        {
            var result = await _classService.Create(turma);
            navManager.NavigateTo("/classes");
        }
        catch (Exception ex)
        {

        }
    }
}